html {
  overflow-y: scroll;
}

body {
  margin: auto;
  width: 100%;
  background-color: #F7F4F4;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body,
header,
nav,
article,
footer {
  display: block;
}

*:focus {
  outline: 0 !important;
}

header {
  /*height: 80px;*/
  background-color: white;
  text-align: right;
  margin: auto;
}

header .dropdown-menu {
  background: #333b47!important;
  font-size: 13px!important;
}

footer {
  opacity: 0;
  animation: footerfadein 0.25s 2s forwards;
}

@keyframes footerfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list-inline {
  /*padding: 10px 15px;*/
  padding: 5px;
  margin-bottom: 0;
}

.list-inline li a {
  color: white;
  text-decoration: none;
}

.list-inline li a:hover {
  color: #f60;
}

li.current>span,
li.current>div>a {
  color: #249e3c;
}

.top-header {
  background: #333b47;
  color: #adadad;
  font-size: 13px;
}

.top-right {
  text-align: right;
  margin-right: 25px;
}

article {
  border-top: 1px solid #f5f5f5;
  margin-bottom: 15px;
  padding: 0px 10px 10px 10px;
  background-color: white;
}

article h1 {
  color: #40454d;
  font-weight: bold;
  font-size: 1.5em;
}

.header-article h1 a,
.series a {
  text-decoration: none;
}

article h2 {
  color: #40454d;
  font-weight: normal;
  font-size: 1em;
}

footer {
  background-color: black;
  height: 50px;
  text-align: center;
  color: #aaa;
  padding: 15px;
}

.content {
  margin: auto;
  min-height: 100%;
}

.bieutuong {
  height: 60px;
  width: 60px;
  border: 1px solid orange;
  float: left;
  margin: 0px 10px;
}

.hinhdaidien {
  height: 124px;
  width: 125px;
  border: 1px solid #aaa;
  margin: 0px 10px 10px 10px;
  position: relative;
  float: left;
}

.chitiet {
  text-align: justify;
}

.header-article {
  margin-bottom: 5px;
}

.tacgia,
.series {
  color: #0086dc;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: #f60;
  color: white;
}

.home {
  color: white;
  font-size: 16px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: auto;
}

.rightBox {
  float: left;
  padding: 0 0 5px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #f5f5f5;
}

.headerControls {
  margin: 0;
  padding: 5px 0px 0px 10px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  /*font-family: "BebasNeueRegular";*/
  /*font-family: BebasNeueRegularie "9 /";*/
  color: #0086dc;
  font-weight: bold;
  text-transform: uppercase;
  clear: both;
}

ul.trendingBox {
  overflow: hidden;
  list-style: none;
  margin: 10px 0 2px 0;
  padding: 0;
}

ul.trendingBox li>* {
  border-bottom: 1px solid #f5f5f5;
}

.numbers {
  padding: 6px 12px 6px 10px;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  font-size: 22px;
  font-weight: normal;
  color: black;
}

.trendingDetail {
  display: table-cell;
  vertical-align: middle;
  width: 999px;
}

.trendingDetail a {
  color: black;
  text-decoration: none;
}

.trendingDetail a:hover {
  color: #249e3c;
  text-decoration: none;
}

.viewAllLink {
  margin: 10px 20px;
  /*padding: 0 22px 1px 0;*/
  font-size: 15px;
  color: #36c;
  text-decoration: none;
  float: right;
  position: relative;
  background: 0;
  text-indent: 0;
  width: auto;
}

.viewAllLink:hover {
  color: red;
  /*font-weight: bold;*/
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #0086dc;
  color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff !important;
  background-color: #f60 !important;
}

.navbar-toggle {
  background-color: #f60 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

.navbar-brand {
  visibility: hidden;
}

.navbar-default .navbar-brand {
  color: #fff !important;
}

.navbar-brand .navbar-default .navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff !important;
}

.navbar-nav ul.sm-nowrap>li>a:hover {
  background-color: #f60 !important;
}

.dropdown-header {
  font-weight: bolder;
}

.navbar-collapse {
  max-height: 340px;
}

.post-desc {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.post-together a {
  color: #999999;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.post-together span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  line-height: 22px;
  margin-top: 5px;
}

.post-together span:hover,
.post-together a:hover {
  color: #2C93D5;
}

.post-together.post-next {
  text-align: right;
}

.comments-area {
  max-width: 770px;
  margin: auto 15px;
  padding: 10px 0 0;
}

.comment-reply-title,
.comments-title {
  font-size: 25px;
  margin-bottom: 15px;
}

.comment-respond {
  margin-bottom: 45px;
}

.comment-form {
  background: #ecf0f5;
  padding: 35px 30px 25px;
}

.comment-form p {
  margin-bottom: 10px;
}

.comment-form label {
  font-weight: normal;
  width: 140px;
  vertical-align: top;
  margin-top: 5px;
}

.comment-form .comment-rating {
  display: inline-block;
  vertical-align: middle;
}

.comment-form input[type=text],
.comment-form input[type=email],
.comment-form textarea,
.comment-form .comment-rating {
  width: calc(100% - 145px);
}

.comment-form .form-submit label {
  font-size: 0;
}

.comment-list {
  padding: 0;
  margin: 35px 0 0;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.comment-list li {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 22px 30px 15px;
}

.comment-avatar {
  float: left;
  width: 60px;
  margin: 8px 18px 0 0;
}

.comment-meta {
  font-size: 15px;
  margin-bottom: 8px;
  text-align: left;
}

.comment-author a {
  color: #555;
  font-style: normal;
}

@media screen and (max-width:767px) {
  .navbar-brand {
    visibility: visible;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff !important;
  }
  .dropdown-header {
    color: #fff !important;
  }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


/*Animate*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/*Panel*/

.collapse-panel .panel-default>.panel-heading {
  padding: 0;
}

.collapse-panel .panel-heading a {
  padding: 12px 35px 12px 15px;
  display: inline-block;
  width: 100%;
  background-color: #2C93D5;
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.collapse-panel .panel-heading a:after {
  font-family: "FontAwesome";
  content: "\f147";
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 400;
  top: 50%;
  line-height: 1;
  margin-top: -10px;
}

.collapse-panel .panel-heading a.collapsed:after {
  content: "\f196";
}

.list-group {
  margin-bottom: 0px!important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #337ab7!important;
    background-color: #fff!important;
}

/* Effect 1: Brackets */

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
